* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  width: 100%;
  min-width: 0%;
}

body p {
  color: #a1aeb7;
  line-height: 2.4rem;
  font-weight: 300;
}

body h2 {
  color: #4d4d4d;
}

header {
  background-color: #e7f5fe;
  padding: 16px 16px;
  color: #505d68;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle {
  font-size: 24px;
  color: #474747;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0;
  justify-content: flex-end;
  align-items: flex-end;
}

nav ul {
  display: none;
  padding: 16px;
}

.list-item {
  list-style: none;
  margin: 0;
  padding: 16px;
}

nav a {
  text-decoration: none;
  color: #474747;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: lighter;
  list-style: none;
}

.currently {
  text-decoration: underline;
  font-weight: 700;
}

.show-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #474747;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* HERO -------*/

.hero {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 80px 40px;
  background-image: url("images/sunrise.jpg"); /* Photo by Ravi Pinisetti on Unsplash */
  background-size: cover;
}

.hero h1 {
  font-size: 3.8rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 4.8rem;
  margin-bottom: 48px;
}

.hero p {
  font-style: italic;
  color: #ffffff;
  font-size: 2.1rem;
  line-height: 3.1rem;
  margin: 32px 0;
}

.hero a {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  padding: 12px 48px;
  border-radius: 4px;
  background-color: #424b5a;
  text-decoration: none;
}

/* CHRISTIANS ONLY -------*/

.container {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  padding: 32px;
  text-align: left;
}

.content-container h2 {
  text-align: center;
  margin: 16px;
}

.container img {
  width: 100%;
  margin: 16px 0;
}

.content-container p {
  margin: 16px 0;
  font-weight: 300;
}

/* OUR CHURCH -------*/

.ourchurch-container {
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  text-align: left;
  background-color: #e7f5fe;
}

.ourchurch-container h2 {
  text-align: center;
  margin: 16px;
}

.container-item {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px;
  margin: 32px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-link {
  text-decoration: none;
}

.container-item img {
  width: 100%;
  margin: 16px 0;
}

.container-item h3 {
  color: #424b5a;
  margin: 16px 0;
}

.container-item p {
  margin: 16px 0;
  font-weight: 300;
}

/* GET IN TOUCH -------*/

.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 0;
}

.contact-container h2 {
  margin: 16px;
  color: #424b5a;
}

.contact-container p {
  margin: 16px 32px;
  font-weight: 300;
  color: #a1aeb7;
}

.contact-container a {
  padding: 12px 32px;
  background-color: #424b5a;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  margin: 32px;
}

/* FOOTER -------*/

footer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 48px 0 8px 0;
  gap: 16px;
  text-align: left;
  background-color: #5ca0d3;
}

footer ul {
  list-style: none;
}

footer li {
  margin: 16px 32px;
}

footer h4 {
  color: #424b5a;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

footer img {
  width: 100%;
  padding: 0 16px;
}

.info-container {
  margin: 16px 32px;
}

.info-container p {
  margin-bottom: 24px;
  font-weight: 300;
  color: #ffffff;
}

.content-container a {
  color: white;
  font-weight: 300;
}

.location-container {
  font-size: 1.4rem;
  margin: 0 32px;
}

.location-container p {
  margin: 16px 0;
  color: #ffffff;
}

.rights {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 8px;
  color: #ffffff;
}

/* ------------------------------------------------------------------------- */

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  body h2 {
    font-size: 3.2rem;
  }
  
  header {
    justify-content: center;
    padding: 0 180px;
  }

  .logo {
    width: 200px;
  }

  nav {
    padding-top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  nav .toggle {
    display: none;
  }

  nav a {
    color: #505d68;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .list-item a {
    font-size: 1.4rem;
  }

  /* HERO -------*/

  .hero h1 {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .hero p {
    font-size: 2.4rem;
    font-weight: 300;
    padding: 32px 104px;
  }

  /* CHRISTIANS ONLY -------*/

   .container {
    padding: 72px 104px;
  }

  .content-container {
    display: flex;
  }

  .container h2 {
    text-align: center;
    margin: 16px;
    font-size: 3.2rem;
  }

  .container img {
    width: 50%;
  }

  .container .content-container {
    padding: 32px 0;
    font-size: 1.8rem;
  }

  .container .content-container p {
    margin: 16px 32px;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .text-container {
    padding: 32px 16px;
  }

  /* OUR CHURCH -------*/

  .ourchurch-container {
    padding: 80px;
  }

  .options-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .ourchurch-container h2 {
    text-align: center;
    margin: 16px;
    padding: 32px 0;
  }

  .container-item {
    padding: 24px;
    margin: 0;
    width: 100%;
  }

  .container-item p {
    font-size: 1.8rem;
  }

  /* GET IN TOUCH -------*/

  .contact-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 72px 0;
  }

  .contact-container p {
    margin: 8px 16px;
    font-size: 1.8rem;
  }

  .contact-text {
    text-align: left;
  }

  .contact-container a {
    padding: 16px 72px;
  }

  /* FOOTER -------*/

  footer {
    padding: 0;
    gap: 0;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 48px 0;
    text-align: left;
    align-items: flex-start;
  }

  .footer-container img {
    width: 25%;
  }

  .info-container {
    margin: 0 32px;
  }

  .rights {
    font-size: 1.4rem;
    padding: 8px;
  }

  .list-container a {
    text-decoration: none;
  }
}



/* ----------------
ABOUT US 
------------------- */

/* DENOMINATION -------*/

.denomination-container {
  display: flex;
  flex-direction: column;
  background-color: #e7f5fe;
  margin: 16px 0;
  padding: 32px;
  text-align: left;
}

.denomination-container h2 {
  text-align: center;
  margin: 16px;
}

.denomination-container img {
  width: 100%;
  margin: 16px 0;
}

.content-container p {
  margin: 16px 0;
  font-weight: 300;
}


/* MEMBERS -------*/

.members-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 0;
}

.members-container h2 {
  margin: 16px;
  color: #424b5a;
}

.members-container p {
  margin: 16px 32px;
  font-weight: 300;
  color: #a1aeb7;
}

.members-container a {
  padding: 12px 32px;
  background-color: #424b5a;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  margin: 32px;
}
