* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  min-width: 0%;
}

body p {
  color: #a1aeb7;
  line-height: 2.4rem;
  font-weight: 300;
}

body h2 {
  color: #4d4d4d;
}

header {
  background-color: #e7f5fe;
  padding: 12px 16px;
  color: #505d68;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle {
  font-size: 24px;
  color: #474747;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0;
  justify-content: flex-end;
  align-items: flex-end;
}

nav ul {
  display: none;
  padding: 16px;
}

.list-item {
  list-style: none;
  margin: 0;
  padding: 16px;
}

nav a {
  text-decoration: none;
  color: #474747;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: lighter;
  list-style: none;
}

.show-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #474747;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* HERO -------*/

.hero {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 80px 40px;
  background-image: url("images/sunrise.jpg"); /* Photo by Ravi Pinisetti on Unsplash */
  background-position: cover;
  background-size: cover;
}

.hero h1 {
  font-size: 3.8rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 4.8rem;
  margin-bottom: 48px;
}


.hero p {
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  font-size: 2.1rem;
  line-height: 3.1rem;
  margin: 32px 0;
}


.hero a {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  padding: 12px 48px;
  border-radius: 4px;
  background-color: #424b5a;
  text-decoration: none;
}



/* CHRISTIANS ONLY -------*/

.container {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  padding: 32px;
  text-align: left;
}

.container h2 {
  text-align: center;
  margin: 16px;
}

.container img {
  width: 100%;
  margin: 16px 0;
}

.container p {
  margin: 16px 0;
  font-weight: 300;
}

/* OUR CHURCH -------*/

.ourchurch-container {
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  text-align: left;
  background-color: #e7f5fe;
}

.ourchurch-container h2 {
  text-align: center;
  margin: 16px;
}

.container-item {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px;
  margin: 32px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-link {
  text-decoration: none;
  background-color: #ffffff;
}

.container-item img {
  width: 100%;
  margin: 16px 0;
}

.container-item h3 {
  color: #424b5a;
  margin: 16px 0;
}

.container-item p {
  margin: 16px 0;
  font-weight: 300;
}


/* GET IN TOUCH -------*/

.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #424b5a;
  padding: 32px 0;
}

.contact-container h2{
  margin: 16px;
  color: #ffffff;
}

.contact-container p {
  margin: 16px 32px;
  font-weight: 300;
  color: #ffffff;
}

.contact-container a {
  padding: 12px 32px;
  background-color: white;
  text-decoration: none;
  border-radius: 8px;
  color: #424b5a;
  margin: 32px;
}

/* FOOTER -------*/

footer {
  display: flex;
  flex-direction: column;
  padding: 48px 0;
  gap: 16px;
  text-align: left;
}

footer ul {
  list-style: none;
}

footer li {
  margin: 16px 32px;
}

footer h4 {
  color: #424b5a;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

footer img {
  width: 100%;
padding: 0 16px;
}

.info-container {
  margin: 16px 32px;
}

.info-container p {
  margin-bottom: 24px;
  font-weight: 300;
}

.content-container a {
  color: #a1aeb7;
  font-weight: 300;
}

.location-container {
  font-size: 1.4rem;
  margin: 0 32px;
}

.location-container p {
  margin: 16px 0;
}

.rights {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 32px;
}