* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  width: 100%;
  min-width: 0%;
}

body p {
  color: #8e979e;
  line-height: 2.4rem;
  font-weight: 300;
}

body h2 {
  color: #4d4d4d;
}

header {
  background-color: #e7f5fe;
  padding: 16px 16px;
  color: #505d68;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle {
  font-size: 24px;
  color: #474747;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0;
  justify-content: flex-end;
  align-items: flex-end;
}

nav ul {
  display: none;
  padding: 16px;
}

.list-item {
  list-style: none;
  margin: 0;
  padding: 16px;
}

nav a {
  text-decoration: none;
  color: #474747;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: lighter;
  list-style: none;
}

nav a:hover {
  text-decoration: underline;
}

.currently {
  text-decoration: underline;
  font-weight: 700;
}

.show-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #474747;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* HERO -------*/

.hero {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 80px 40px;
  background-image: url("images/sunrise.jpg"); /* Photo by Ravi Pinisetti on Unsplash */
  background-size: cover;
}

.hero h1 {
  font-size: 3.8rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 4.8rem;
  margin-bottom: 48px;
}

.hero p {
  font-style: italic;
  color: #ffffff;
  font-size: 2.1rem;
  line-height: 3.1rem;
  margin: 32px 0;
}

.hero a {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  padding: 12px 48px;
  border-radius: 4px;
  background-color: #424b5a;
  text-decoration: none;
}

/* CHRISTIANS ONLY -------*/

.container {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  padding: 32px;
  text-align: left;
}

.container img {
  width: 100%;
  margin: 16px 0;
}

.text-only {
  font-size: 1.6rem;
}

.content-container h2 {
  text-align: center;
  margin: 16px;
}

.content-container p {
  margin: 16px 0;
  font-weight: 300;
}

/* OUR CHURCH -------*/

.ourchurch-container {
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  text-align: left;
  background-color: #e7f5fe;
}

.ourchurch-container h2 {
  text-align: center;
  margin: 16px;
}

.container-item {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px;
  margin: 32px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-link {
  text-decoration: none;
  max-width: 300px;
  margin: auto;
}

.card-link:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-item img {
  width: 100%;
  margin: 16px 0;
}

.container-item h3 {
  color: #424b5a;
  margin: 16px 0;
}

.container-item p {
  margin: 24px 0;
}

.fa-plus-square-o {
  color: #424b5a;
  margin: 8px 0 0 8px;
}

.icon-with-text {
  color: #424b5a;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: right;
}

/* GET IN TOUCH -------*/

.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 0;
}

.contact-container h2 {
  margin: 16px;
  color: #424b5a;
}

.contact-container p {
  margin: 16px 32px;
  font-weight: 300;
  color: #a1aeb7;
}

.contact-container a {
  padding: 12px 32px;
  background-color: #424b5a;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  margin: 32px;
}

.contact-container a:hover {
  background-color: #2980b9;
  color: #eaeaea;
}

/* FOOTER -------*/

footer {
  display: flex;
  flex-direction: column;
  background-color: #5ca0d3;
  padding: 48px 0 8px;
  text-align: left;
}

.images-container {
  display: flex;
  flex-direction: column;
}

.footer-container {
  padding-bottom: 32px;
}

.images-container img {
  margin: 16px 32px;
}

footer ul {
  list-style: none;
}

footer li {
  margin: 16px 32px;
}

footer h4 {
  color: #424b5a;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.info-container {
  margin: 32px;
}

.info-container p {
  margin-bottom: 24px;
  font-weight: 300;
  color: #ffffff;
}

.footer-content a {
  color: white;
  font-weight: 300;
}

.footer-content a:hover {
  text-decoration: underline;
}

.location-container {
  font-size: 1.4rem;
  margin: 0 32px;
}

.location-container p {
  margin: 16px 0;
  color: #ffffff;
}

.rights {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 8px;
  color: #ffffff;
}

/* =======================
ABOUT US PAGE
======================= */

/* WHY CHURCH OF CHRIST... -------*/

.why-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 16px;
  padding: 16px;
}

.why-container h1 {
  text-align: center;
  margin: 24px 0;
}

.why-container img {
  width: 100%;
  margin: 16px 0;
}

.why-content p {
  padding: 12px 0;
}

.why-content .verse {
  font-style: italic;
}

/* DENOMINATION -------*/

.denomination-container {
  background-color: #e7f5fe;
  padding: 48px 32px;
}

.denomination-content {
  display: flex;
  flex-direction: column;
}

.denomination-content h2 {
  margin: 16px;
}

.denomination-content img {
  width: 100%;
}

.denomination-content p {
  margin: 16px 0;
  font-weight: 300;
  text-align: left;
}

/* WORSHIP ITEMS -------*/

.worship-container {
  margin: auto;
  padding: 48px 32px;
}

.worship-content {
  display: flex;
  flex-direction: column;
}

.worship-content h2 {
  margin: 16px;
}

.worship-content img {
  width: 100%;
  margin: 16px 0;
}

.worship-content p {
  margin: 16px 0;
  font-weight: 300;
  text-align: left;
}

.statements {
  margin: 24px;
  color: #a1aeb7;
  font-weight: 300;
  line-height: 2.8rem;
}

/* MEMBERS -------*/

.members-container {
  display: flex;
  flex-direction: column;
  background-color: #e7f5fe;
  text-align: center;
  padding: 32px 0;
}

.members-container h2 {
  margin: 16px;
  color: #424b5a;
}

.members-container p {
  margin: 16px 32px;
  font-weight: 300;
  color: #a1aeb7;
}

.members-container a {
  padding: 12px 32px;
  background-color: #424b5a;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  margin: 32px;
}

.members-container a:hover {
  background-color: #2980b9;
  color: #eaeaea;
}

/* ====================
OUR FOUNDATIONS
==================== */

/* TABLE -------*/

.table-container {
  overflow-x: auto;
  padding: 16px;
}

table {
  font-family: "Lato", sans-serif;
}

caption {
  font-size: 2rem;
  text-align: left;
  padding: 16px 0;
}

td, th {
  padding: 8px;
}

th {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: left;
  background-color: #424b5a;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

td.merge {
  text-align: center;
  font-style: italic;
}

tfoot {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  background-color: #c5c5c5;
}

/* ====================
CONTACT
==================== */

/* FORM -------*/

.wrapper-form {
  border-radius: 8px;
  padding: 32px;
  max-width: 800px;
  margin: 24px auto;
  color: #424b5a;
}

.wrapper-form h2 {
  margin-bottom: 16px;
}

.wrapper-button {
  display: flex;
  justify-content: flex-end;
}

::placeholder {
  color: #adadad;
  opacity: 1;
}

/* Buttons -------

input[type="reset"] {
  color: #424b5a;
  padding: 8px 32px;
  border-radius: 4px;
  border: 2px solid #424b5a;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #424b5a;
  color: #ffffff;
}
*/

input[type="submit"] {
  background-color: #424b5a;
  color: white;
  padding: 8px 32px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2980b9;
  border: 2px solid #2980b9;
}

/* Inputs -------*/

input,
textarea {
  font-size: 1.6rem;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 16px;
  border: 0.3px solid #424b5a;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 16px;
  border: 0.3px solid #424b5a;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: "Lato", sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 0.3px solid #424b5a;
}

.label-required {
  font-size: 1.4rem;
  padding: 0 8px;
  color: red;
}

/* ============================================================

Large devices (laptops/desktops, 992px and up) 

============================================================ */

@media only screen and (min-width: 992px) {
  body h2 {
    font-size: 3.2rem;
  }

  header {
    justify-content: center;
    padding: 0 180px;
  }

  .logo {
    width: 200px;
  }

  nav {
    padding-top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  nav .toggle {
    display: none;
  }

  nav a {
    color: #505d68;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .list-item a {
    font-size: 1.4rem;
  }

  /* HERO -------*/

  .hero h1 {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .hero p {
    font-size: 2.4rem;
    font-weight: 300;
    padding: 32px;
    margin: auto;
  }

  .text-container {
    max-width: 1170px;
    margin: auto;
  }

  /* CHRISTIANS ONLY -------*/

  .container {
    max-width: 1170px;
    margin: auto;
  }

  .content-container {
    display: flex;
    align-items: center;
  }

  .container h2 {
    text-align: center;
    margin: 16px;
    font-size: 3.2rem;
  }

  .container img {
    width: 50%;
  }

  .container .content-container {
    padding: 32px 0;
    font-size: 1.6rem;
  }

  .container .content-container p {
    margin: 16px 32px;
    line-height: 3rem;
    font-weight: 300;
    font-size: 1.6rem;
  }

  /* OUR CHURCH -------*/

  .ourchurch-container {
    padding: 64px 0;
  }

  .options-container {
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    margin: auto;
    gap: 48px;
  }

  .ourchurch-container h2 {
    text-align: center;
    margin: 16px;
    padding: 32px 0;
  }

  .container-item {
    padding: 24px;
    margin: auto;
    max-width: 300px;
  }

  /* GET IN TOUCH -------*/

  .contact-container {
    flex-direction: row;
    max-width: 1170px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 72px 0;
  }

  .contact-container p {
    margin: 8px 16px;
    font-size: 1.8rem;
  }

  .contact-text {
    text-align: left;
  }

  .contact-container a {
    padding: 16px 72px;
  }

  /* FOOTER -------*/

  footer {
    padding: 0;
  }

  .images-container {
    max-width: 300px;
  }
  footer li {
    margin: 0 32px 24px;
  }

  .images-container img {
    margin: 0 0 16px;
    border-radius: 8px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    padding: 48px 0;
    text-align: left;
    align-items: flex-start;
  }

  .content-container {
    margin: 0;
  }

  .info-container {
    margin: 0 32px;
  }

  .rights {
    font-size: 1.4rem;
    padding: 8px;
  }

  .list-container a {
    text-decoration: none;
  }

  /* ----------------
ABOUT US PAGE 
Large devices (laptops/desktops, 992px and up) 
------------------- */

  /* WHY CHURCH OF CHRIST... -------*/

  .why-container {
    padding: 32px;
  }

  .why-container h2 {
    text-align: center;
    margin: 16px;
  }
  .why-content {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 32px 48px;
    gap: 32px;
    align-items: center;
  }

  .why-content img {
    width: 50%;
    margin: 16px 0;
  }

  /* DENOMINATION -------*/

  .denomination-container {
    flex-direction: row;
    background-color: #e7f5fe;
  }

  .denomination-container h2 {
    text-align: center;
    margin: 16px;
  }

  .denomination-container img {
    width: 50%;
    margin: 16px 0;
  }

  .denomination-content {
    flex-direction: row;
    gap: 32px;
    padding: 32px 48px;
  }

  /* WORSHIP ITEMS -------*/

  .worship-container {
    padding: 56px;
    max-width: 1170px;
    margin: auto;
  }

  .worship-container h2 {
    padding: 32px;
    text-align: center;
  }

  .worship-content {
    flex-direction: row;
    gap: 32px;
  }

  .worship-content img {
    width: 50%;
    margin: 16px 0;
  }

  .worship-content p {
    margin: 16px 0;
    font-weight: 300;
    text-align: left;
  }

  .statements {
    margin: 24px;
    color: #a1aeb7;
    font-weight: 300;
    line-height: 2.8rem;
  }

  /* MEMBERS -------*/

  .members-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    margin: auto;
  }

  .members-container h2 {
    margin: 16px;
    color: #424b5a;
  }

  .members-container p {
    margin: 16px 32px;
    padding: 32px 128px;
    font-weight: 300;
    color: #a1aeb7;
  }

  .members-container a {
    margin: auto;
    background-color: #424b5a;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
  }

  /* watch out with this close... -------*/
}
